<div class="main_unit">

    <h1 class="header">Введите данные студента</h1>

    <form action="" method="POST">
        <fieldset class='main_form'>
            <legend class="caption">Студент</legend>

            <div class="title" for="name">Имя:</div>

            <input type="text" name="name" id="name" required="required"><br />
            <div class="title" for="name">Фамилия:</div>

            <input type="text" name="lastname" id="lastname" required="required"><br />
            <div class="title">email</div>
            <input type="email" name="email" id='mail' required="required">

        </fieldset>
        <input type="submit" class="submit_btn" value="Добавить студента">
    </form>
    <div class="student_href">
        <a href="/student_list/" class="back_href">Список студентов</a>

    </div>

</div>