<div class="main_unit">
    <h1 class="header">Наши контакты</h1>
    <div class='contacts'>
        <h4 class="ul_header">Москва</h4>
        <ul class='contact_list'>
            <li>
                Телефон: 8-800-000-00-00
            </li>
            <li>
                e-mail: mail@mail.ru
            </li>
            <li>Адрес: Красная пресня 101</li>
        </ul>
        <h4 class="ul_header">Екатеринбург</h4>
        <ul class='contact_list'>
            <li>
                Телефон: 8-800-123-45-66
            </li>
            <li>
                e-mail: mail@mail.ru
            </li>
            <li>Адрес: Ленина 50</li>
        </ul>
    </div>


</div>