<div class='main_unit'>
    <h1 class="header">Курсы фотографии</h1>
    <p class="text">Обучаем искусству фотографии с 2021 года</p>
    <p class='text'>Ближайшие курсы</p>
    <table>
        <tr>
            <th>Жанр</th>
            <th>Новичок</th>
            <th>Любитель</th>
            <th>Профессионал</th>
        </tr>
        <tr>
            <th>Портрет</th>
            <td>Сб, 20 февраля 2021<br />11:00 - 14:00</td>
            <td>Сб, 6 марта 2021<br />11:00 - 14:00</td>
            <td>Сб, 20 марта 2021<br />11:00 - 14:00</td>
        </tr>
        <tr>
            <th>Пейзаж</th>
            <td>Сб, 10 апреля 2021<br />11:00 - 13:00</td>
            <td>Сб, 1 мая 2021<br />11:00 - 13:00</td>
            <td>Сб, 8 мая 2021<br />11:00 - 13:00</td>
        </tr>
        <tr>
            <th>Репортаж</th>
            <td>Сб, 26 июня 2021<br />11:00 - 14:00</td>
            <td>Сб, 3 июля 2021<br />11:00 - 14:00</td>
            <td>Сб, 10 июля 2021<br />11:00 - 14:00</td>
        </tr>
        <tr>
            <th>Свадебная фотография</th>
            <td>Сб, 28 августа 2021<br />11:00 - 16:00</td>
            <td>Сб, 4 сентября 2021<br />11:00 - 16:00</td>
            <td>Сб, 11 сентября 2021<br />11:00 - 16:00</td>
        </tr>
    </table>
    <p class="text">Приходите, будет интересно</p>
    <div class="student_href">
        <a href="/student_list/" class="back_href">Список студентов</a>
        <a href="/student_add_course/" class="back_href">Запись студентов на курсы</a>
    </div>

</div>